@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@400;500;700&display=swap");
@import url("https://fonts.cdnfonts.com/css/gilroy-bold");
* {
  margin: 0;
  padding: 0;
  font-family: "Unbounded", sans-serif;
  box-sizing: border-box;
}

body {
  background: #191919;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

header, .first, .second, .third {
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 60px;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
}

.logo {
  width: 243px;
  cursor: pointer;
}

.menu-icon {
  display: none;
}

nav {
  flex: 1;
  text-align: center;
  justify-content: space-between;
}

.container {
  display: flex;
  list-style-type: none;
}

input {
  display: none;
}

.menu-items {
  display: flex;
  align-items: center;
  gap: 60px;
  padding-left: 84px;
}

.menu-items a {
  color: #FFF;
  font-family: Unbounded;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 133.333% */
  text-transform: uppercase;
  text-decoration: none;
}

.lets-talk-d, .join-us {
  width: 185px;
  height: 56px;
  background: #6638B6;
  color: #FFF;
  font-size: 18px;
  border: 0;
  text-transform: uppercase;
}

.lets-talk-m {
  width: 185px;
  height: 56px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  background: #6638B6;
}

.first .left {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-top: 185px;
  gap: 72px;
}

.first .left h1, .second .left h1 {
  color: #FFF;
  font-size: 50px;
  font-weight: 700;
  line-height: 136%;
}

.join-us {
  width: 289px;
  font-size: 20px;
}

.first {
  display: flex;
  flex-direction: row;
}

.first .right {
  flex-shrink: 0;
  background: radial-gradient(50% 50% at 50% 50%, #6638B6 26.04%, rgba(25, 25, 25, 0.18) 100%);
  position: relative;
}

.first .right .visa-behind {
  position: absolute;
  left: 121px;
  top: 100px;
}

.first .right .visa-front {
  padding-top: 300px;
  padding-left: 250px;
  padding-right: 67px;
}

.first .right .visa-behind img, .first .right .visa-front img {
  width: 325.22px;
  height: 204.996px;
  transform: rotate(19.098deg);
  flex-shrink: 0;
  z-index: 0;
}

.first .right .visa-front img {
  z-index: 1;
  transform: rotate(-32.042deg);
}

.second {
  display: flex;
}

.second .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 238px;
}

.second .left h1 {
  font-size: 40px;
  text-transform: uppercase;
}

.second .right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 420px;
}

.second .right p {
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 24px;
  color: #FFF;
  font-weight: 400;
}

.second .right span {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #6638B6;
}

.third {
  height: 100vh;
  padding: 0;
  margin-top: 280px;
}

.sticky-parent {
  height: 233vh;
}

.sticky {
  overflow: hidden;
  position: sticky;
  top: 0;
  height: 100vh;
}

.scroll-section {
  position: absolute;
  top: -40px;
  height: 100vh;
  width: 233vw;
  will-change: transform;
  display: flex;
  background: url(assets/SLIDER.png);
  background-repeat: no-repeat;
  max-height: 885px;
}

.scroll-section .first {
  display: flex;
  flex-direction: column;
  width: 893px;
}

.scroll-section .first .one, .scroll-section .first .two {
  color: #FFF;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.scroll-section .first .two {
  color: transparent;
  -webkit-text-stroke: 0.5px white;
}

.scroll-section .first .three {
  margin-top: 60px;
  margin-left: 80px;
  width: 693px;
}

.scroll-section .first .three h1, .scroll-section .second .one h1, .scroll-section .third-s .one h1, .scroll-section .fourth .one h1 {
  color: #6638B6;
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
}

.scroll-section .first .three p, .scroll-section .second .one p, .scroll-section .third-s .one p, .scroll-section .fourth .one p {
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.scroll-section .second, .scroll-section .fourth {
  display: flex;
  align-items: flex-end;
}

.scroll-section .second .one {
  margin-left: -41px;
  width: 771px;
}

.scroll-section .third-s .one {
  margin-top: 200px;
  width: 889px;
}

.scroll-section .fourth .one {
  width: 693px;
  padding-left: 24px;
}

.scroll-section .svg2 {
  position: absolute;
  top: 561px;
  visibility: visible;
}

.scroll-section .svg2-m {
  position: absolute;
  top: 561px;
  visibility: hidden;
}

@media only screen and (max-width: 700px) {
  html {
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
    overflow: auto;
  }
  header {
    padding: 0;
  }
  .container {
    max-width: 1050px;
    width: 90%;
    margin: auto;
  }
  .navbar {
    width: 100%;
  }
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
  }
  .navbar .menu-items {
    display: flex;
  }
  .navbar .nav-container li {
    list-style: none;
  }
  .navbar .nav-container a {
    text-decoration: none;
    color: #FFF;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
    text-align: left;
    text-transform: uppercase;
  }
  .navbar .nav-container a:hover {
    font-weight: bolder;
  }
  .nav-container {
    display: block;
    position: relative;
    height: 60px;
  }
  .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    right: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  .nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    right: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .nav-container .hamburger-lines .line {
    display: block;
    height: 9px;
    width: 100%;
    background: #FFF;
  }
  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  .navbar .menu-items {
    padding-top: 228px;
    background: #191919;
    height: 100vh;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -221px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
  }
  .lets-talk-m {
    display: flex;
    width: 185px;
    height: 56px;
    background: #6638B6;
    color: #FFF;
    font-size: 18px;
    border: 0;
    text-transform: uppercase;
  }
  .navbar .menu-items li {
    margin-bottom: -28px;
    font-size: 1.5rem;
    font-weight: 500;
  }
  .logo {
    width: 126px;
    margin-top: 20px;
  }
  .logo img {
    width: 126px;
  }
  .nav-container input[type=checkbox]:checked ~ .menu-items {
    transform: translateX(0);
  }
  .nav-container input[type=checkbox]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  .nav-container input[type=checkbox]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  .nav-container input[type=checkbox]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
  .nav-container input[type=checkbox]:checked ~ .logo {
    display: none;
  }
  .lets-talk-m {
    margin-top: 170px;
    width: 303px;
    margin-left: 147px;
  }
  main .first {
    flex-direction: column;
  }
  main .first .left {
    align-items: center;
    width: 100%;
    padding-top: 0px;
    margin-top: -100px;
    gap: 402px;
    background: radial-gradient(50% 50% at 50% 50%, #6638B6 26.04%, rgba(25, 25, 25, 0.18) 100%);
    z-index: -2;
  }
  main .first .right {
    background: none;
  }
  main .first .left h1 {
    font-size: 28px;
    text-align: center;
    width: 327px;
  }
  main .first .left h1 {
    visibility: hidden;
  }
  main .first .left h1::after {
    content: "Lorem ipsum dolor sit amet consectetur pellentesque";
    visibility: visible;
  }
  main .first .right .visa-behind {
    left: 5px;
    top: -425px;
    z-index: -1;
  }
  main .first .right .visa-front {
    margin-top: -630px;
    padding-left: 81px;
    display: flex;
    z-index: -1;
    position: absolute;
    padding-right: 0;
  }
  main .first .right .visa-behind img, main .first .right .visa-front img {
    width: 177.245px;
    height: 111.723px;
  }
  main .second {
    flex-direction: column;
    padding: 0;
    margin-top: 90px;
    align-items: center;
  }
  main .second .left {
    margin: 0;
    justify-content: start;
  }
  main .second .left h1 {
    width: 100%;
    padding-bottom: 24px;
    border-bottom: 1px dashed #6638B6;
    background: url(assets/arrow.png);
    background-repeat: no-repeat;
    background-position: 300px 59px;
  }
  .svg1 {
    display: none;
  }
  .circle {
    margin-top: 39px;
    align-items: center;
    padding-left: 0;
  }
  main .second .right {
    margin-top: 51px;
    width: 327px;
  }
  main .second .right p, main .second .right span {
    font-size: 16px;
  }
  main .third {
    margin-top: 115px;
  }
  main .third .sticky-parent {
    height: 400vh;
  }
  main .third .sticky {
    height: 100vh;
  }
  main .third .scroll-section {
    width: 400vw;
    background-size: 1700px;
    background-position-y: 270px;
  }
  main .third .scroll-section .first {
    width: 400px;
    padding-left: 32px;
  }
  main .third .scroll-section .first .one, main .third .scroll-section .first .two {
    width: 327px;
    font-size: 32px;
  }
  .scroll-section .svg2 {
    visibility: hidden;
  }
  .scroll-section .svg2-m {
    visibility: visible;
    top: 535px;
  }
  main .third .scroll-section .first .three {
    width: 287px;
    margin-left: 44px;
  }
  main .scroll-section .second {
    display: flex;
    margin-left: 100px;
    margin-top: 585px;
  }
  main .scroll-section .second .one, main .scroll-section .third-s .one, main .scroll-section .fourth .one {
    width: 287px;
  }
  main .scroll-section .third-s .one {
    margin-top: 312px;
    margin-left: 100px;
  }
  main .scroll-section .fourth .one {
    margin-left: 130px;
  }
  main .third .scroll-section .first .three h1, main .third .scroll-section .second .one h1, main .third .scroll-section .third-s .one h1, main .third .scroll-section .fourth .one h1 {
    font-size: 25px;
  }
  main .third .scroll-section .first .three p, main .third .scroll-section .second .one p, main .third .scroll-section .third-s .one p, main .third .scroll-section .fourth .one p {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }
}
@media only screen and (min-width: 390px) {
  .sticky-parent {
    height: 415vh;
  }
}/*# sourceMappingURL=main.css.map */